body{
    font-family: 'M PLUS 1p', sans-serif;

}
h1{
    font-size: 20px;
}
.orange-color{
color: rgb(250, 176, 37);
}
.felxible-container{
    display: flex;
}
.half-width{
    
    width: 50%;
    padding-left: 6%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    font-weight: 700;
    color: white;
}
.main{
   background-color: orchid;
   margin-right: 5%;
}
.second{
   background-color: royalblue;
   margin-right: 5%; 
}
.third{
    background-color: salmon;
}
.develop{
    margin-top: 5%;
}